pip
Flask==1.0.2
joblib==0.13.2
paramiko==2.4.2
pymysql==0.9.3
matplotlib==2.2.2
cython==0.29.7
psutil==5.6.2
mysql-connector-python==8.0.13
google==2.0.2
google-cloud>=0.3*.*
google-cloud-storage==1.16.0
google-cloud-bigquery>=1.*.*
datetime==4.3.0
pandas-gbq==0.10.0
lightgbm==2.3.0
shap==0.30.0
uwsgi==2.0.18
category-encoders==2.1.0
pymystem3==0.2.0
youtokentome==1.0.6